/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
	font-size: 62.5%;
}

.container {
	width: 950px;
	margin: 0 auto;
	font-size: 1.8em;
	padding-top: 30px;
}

.page-title {
	font-size: 2em;
	margin-bottom: 20px;
}

th {
	text-align: left;
	font-weight: bold;
}

td, th {
	padding: 8px 0;
}

.artist {
	width: 250px;
}

.title {
	width: 300px;
}

.format {
	width: 180px;
}

.date {
	width: 170px;
}

.all {
	margin-bottom: 30px;
}





body{
    font-size: 62.5%;
    font-family: bad;
    color: #000000;
    background-color: #439387;
}


a {
	font-size: 4em;
}

body {
	width: 320px;
	overflow: hidden;
	height: 500px;
}



#container1, #container2, #container3, .scrollcontainer, .scrollcontainer2 {
	height: 500px;
}

#container1, #container2, #container3 {
	position: relative;
	width: 320px;
	float: left;
}

img {
	position: absolute;
	left: -100px;
	top: -100px;
}

#scrollto1 {
	position: absolute;
	width: 320px;
	margin-top: 300px;
	text-align: center;
}

#scrollto2 {
	position: absolute;
	width: 320px;
	margin-top: 300px;
	text-align: center;
}

#scrollto3 {
	position: absolute;
	width: 320px;
	margin-top: 300px;
	text-align: center;
}

.scrollcontainer {
	width: 960px;
	transition: 			all 1s cubic-bezier(.68,-0.07,.38,1.22);
    -webkit-transition: 	all 1s cubic-bezier(.68,-0.07,.38,1.22); /** Chrome & Safari **/
    -moz-transition: 		all 1s cubic-bezier(.68,-0.07,.38,1.22); /** Firefox **/
    -o-transition: 			all 1s cubic-bezier(.68,-0.07,.38,1.22); /** Opera **/


}

.scrollcontainer2 {
	width: 320px;
	overflow: hidden;
}

.movebitch {
	transform: 		   translate(-320px,0);
    -webkit-transform: translate(-320px,0);
    -o-transform:      translate(-320px,0); 
    -moz-transform:    translate(-320px,0);
}

.movebitch2 {
	transform: 		   translate(-640px,0);
    -webkit-transform: translate(-640px,0);
    -o-transform:      translate(-640px,0); 
    -moz-transform:    translate(-640px,0);
}

.movebitch3 {
	transform: 		   translate(-960px,0);
    -webkit-transform: translate(-960px,0);
    -o-transform:      translate(-960px,0); 
    -moz-transform:    translate(-960px,0);
}

















