<article id="energie" class="stemming">
	<header><div><img src="assets/images/energie_icon.svg" alt="energie icon"><h1>Energie</h1><div></header>
	<h2>Heb je goed geslapen?</h2>
	<p>Trek de wallen tot ze ongeveer jouw wallen evenaren.</p>
	<svg class="svgout">
	</svg>
	<a href="" class="volgendeBtn">volgende<span></span></a>
</article>