<header>
	<h1>Je bent erbij!</h1>
</header>
<p>Wacht hier tot alle posities ingevuld zijn. Alleen opstaan is immers niet zooo leuk.</p>

<ul>
	<li class="iconheadown">&nbsp;</li>
	<li class="iconhead1">&nbsp;</li>
	<li class="iconhead2">&nbsp;</li>
	<li class="iconhead3">&nbsp;</li>
</ul>

<div class="borderaround2">&nbsp;</div>
<div class="square">&nbsp;</div>
	
<a href="" id="scrollto8">Spelen maar!</a>