<!-- home pagina -->

<header>
    <h1>Home</h1>
  </header>
  <form class="form" method="post" action="">
      <div class="form-group">
      <input class="btn btn-lg btn-primary tweet" type="submit" value="tweet" />
  </form>
  <ul class="tweets">
   
  </ul>