<!-- home pagina -->

<header>
    <h1>Home</h1>
  </header>
  <form class="form" method="post" action="">
      <div class="form-group">
      <textarea name="text" placeholder="voornaam" class="form-control text voornaam" autofocus=""></textarea>
      <textarea name="text" placeholder="achternaam" class="form-control text achternaam" autofocus=""></textarea>
      <textarea name="text" placeholder="adres" class="form-control text adres" autofocus=""></textarea>

      <input class="btn btn-lg btn-primary tweet" type="submit" value="deelnemen" />
  </form>
  <ul class="tweets">
   
  </ul>