	<header><div><img src="assets/images/humeur_icon.svg" alt="humeur_icon"><h1>Humeur</h1><div></header>
	<h2>Heb je zin in de dag?</h2>
	<p>Hoe graag zou je nu eens op iemand zijn gezicht willen slaan?</p>
	<svg class="svgout" version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve"></svg>
	<a href="" id="refreshBtn"><span>refresh</span></a>
	<a href="" class="volgendeBtn">volgende<span></span></a>