<article id="hygiene" class="stemming">
	<header><div><img src="assets/images/hygiene_icon.svg" alt="placeholder+image"><h1>Hygiene</h1><div></header>
	<h2>En hoe ruik je?</h2>
	<p>Schud met je apparaat tot het mannenetje kijkt hoe jij je voelt.</p>
	<svg class="svgout" version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve"></svg>
	<a href="" id="refreshBtn"><span>refresh</span></a>
	<a href="" class="volgendeBtn">volgende<span></span></a>
</article>