<header>
	<h1><span>Komen Opstaan</span></h1>
</header>
<p>Samen opstaan, samen afzien!</p>
<span class="magicmaker">Druk hier voor magie</span>
<span class="pijlhome">&nbsp;</span>
<p><a href="" class="showtutorial" >Deelnemen</a></p>