<header>
	<h1><span>Komen Opstaan</span></h1>
</header>
<p>het is niet af... maar dit hebben we al</p>
<a href="" id="goToHome">Intro scherm + tutorial</a>
<a href="" id="goToVote1">stemscherm (humeur)</a>
<a href="" id="goToHVote2">stemscherm (hygiene)</a>