<section class="scrollcontainer2">
	<section class="scrollcontainer">
		<article id="container1">
	        <header>
				<h1><span>The sleepover</span></h1>
			</header>
			<div class="pijlsleepover1">&nbsp;</div>
			<p class="tekstuitleg">Bij komen opstaan is het de bedoeling dat je bij elke persoon eens gaat slapen. Jawel: slapen!</p>
	      	<a href="" id="scrollto1">Dat snap ik!</a>
	      </article>


	      <article id="container2">
			<header>
				<h1>Seg, wacht eens..</h1>
			</header>
			<p>Ik ken jouw naam helemaal nog niet! Ik weet zelfs niet of jij nu een jongen of een meisje bent!</p>
			<div class="pijlsleepover3">&nbsp;</div>
			<div class="pijlsleepover4">&nbsp;</div>
					<input type="text" name="txtnaam" id="txtnaam" class="txtnaam" value="" placeholder="Naam">

					<div class="radio">  
					    <div>
					    	<input id="male" type="radio" name="gender" value="m">  
					    	<label for="male" class="malelabel"></label> 
					    </div>
					    <div>
					    	<input id="female" type="radio" name="gender" value="f">  
					    	<label for="female" class="femalelabel"></label>  
					   	</div>

					</div>
			<span class="manlabel">jongen</span>
			<hr style="width:0.5px; height:50px; color: #000; position: absolute; left: 163px; top: 165px"/>
			<span class="vrouwlabel">meisje</span>

			<div class="borderaround">&nbsp;</div>

	      	<a href="" id="scrollto2">Volgende</a>
	      </article>

	      
	      <article id="container3">
	        <header>
				<h1><span>Opstaan ritueel!</span></h1>
			</header>
			<div class="pijlsleepover1">&nbsp;</div>
			<p class="tekstuitleg">Het belangerijkste: je moet doen wat de gastheer doet als hij/zij opstaat! En als dat joggen is in de morgen, dan moet jij dat ook doen!</p>
	      	<a href="" id="scrollto3">Rituelen zijn vet!</a>
	      </article>

	      <article id="container4">
	        <header>
				<h1>Nog eventjes..</h1>
			</header>
			<p>Als de kandidaten naar jouw komen waar moeten ze dan eigelijk naartoe gaan ?</p>
			<div class="pijlsleepover3">&nbsp;</div>
			<div class="pijlsleepover4">&nbsp;</div>
			<div class="formdiv">
					<input type="text" name="txtAdres" id="txtAdres" class="txtAdres" value="" placeholder="straat, huisnr, gemeente">
					<span>of</span>
					<a href="" id="cLocation"><span>Gebruik huidige locatie</span></a>
			</div>
	        <div class="borderaround">&nbsp;</div>
	        <div class="landscape">&nbsp;</div>
	      	<a href="" id="scrollto4">Volgende</a>
	      </article>

	      <article id="container5">
	        <header>
				<h1><span>Punten geven!</span></h1>
			</header>
	        	<div class="pijlsleepover1">&nbsp;</div>
	        <p class="tekstuitleg uitleg3">Er zijn 3 categorieën waar je punten op kan geven: <span>Energie</span> die je gekregen hebt! Of de <span>Hygiëne</span> voldoende was en hoe goed je <span>Humeur</span> is na deze ochtend.</p>
	      	<a href="" id="scrollto5">winnaar?</a>
	      </article>

	      <article id="container6">
	        <header>
				<h1><span>De winnaar!</span></h1>
			</header>
	        	<div class="pijlsleepover1">&nbsp;</div>
	        <p class="tekstuitleg uitleg4">Op het einde van de week is de persoon met de meeste punten de winnaar! Hij of zij mag zichzelf dan de <span>'Morning glory'</span> van de week noemen!</p>
	      	<a href="" id="scrollto6">nog 1 iets..</a>
	      </article>

	      <article id="container7">
	      	<header>
				<h1>Bijna!</h1>
			</header>
			<p>Stel je voor dat je wint! Dan moet er zeker een prachtige foto zijn van jouw gezicht!</p>
			<div class="kroonboven">&nbsp;</div>
	        <div class="around image-input" data-width="380" data-height="200">
                <label for="addfoto"><span>Voeg foto toe</span></label>
                <input type="file" class="addfoto" id="addfoto" name="addfoto" capture="camera" accept="image/*" id="cameraInput" name="cameraInput" />
            </div>
			<div class="kroononder">&nbsp;</div>
	        <div class="borderaround">&nbsp;</div>
	      	<a href="" id="scrollto7">Volgende</a>
	      </article>
	      <article id="container8">
	      	<header>
				<h1>Proficiat!!</h1>
			</header>
			<p>Jij bent nu officieel kandidaad bij komen Opstaan! Je moet nog enkel een paswoord invullen voor later te kunnen inloggen en dan gaan we van start!</p>
			<input type="text" name="txtPass" id="txtPass" class="txtPass" value="" placeholder="paswoord">
	        <div class="borderaround">&nbsp;</div>
	      	<a href="" id="scrolltoGroup">grouperen</a>
	      </article>
	</section>
</section>