<div id="sun" class="sun"></div>
<svg id="followingLine" version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 572.1 216.2" enable-background="new 0 0 572.1 216.2" xml:space="preserve">
<path class="sunline" fill="none" stroke="#FFFFFF" stroke-width="8" stroke-linecap="round" stroke-miterlimit="10" d="M8.5,207.7
	c0,0,95.1-199.2,277.6-199.2s277.5,196.9,277.5,196.9" stroke-dasharray="716.5015869140625" stroke-dashoffset="716.5015869140625"/>
</svg>
<div class="sterren"></div>
<div class="gradient gradient1"></div>
<div class="gradient gradient2">&nbsp;</div>
